<ion-menu [content]="content" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title>Jumbula</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: #eeeeee!important">
    <ion-list style="background-color: #eeeeee!important">
      <button style="background-color: #eeeeee!important" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<router-outlet></router-outlet>
